@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,600|Montserrat:300,300i,400,400i,600&display=swap');

/* Basic styles */
@import url("css/variables.css");
@import url("css/base.css");
@import url("css/type.css");

/* Generic block styles */
@import url("css/blocks/choices.css");
@import url("css/blocks/header.css");
@import url("css/blocks/nav.css");
@import url("css/blocks/brand.css");
@import url("css/blocks/contact.css");
@import url("css/blocks/insider.css");
@import url("css/blocks/footer.css");

/* Page-specific styles */
@import url("css/pages/index.css");
@import url("css/pages/product.css");
@import url("css/pages/categories.css");