.guarantee-description {
    font-family: var(--font-main);
    color: var(--color-body);
    font-style: italic;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0;
}

.product-choices {
    flex: 1;
}

.product-guarantee {
    align-items: center;
    margin: 83px 0 128px 54px;
    width: 306px;
}

.product-main__image {
    width: 216px;
    height: 216px;
    object-fit: cover;
}

.product-info {
    width: 216px;
    margin-left: 12px;
    flex: 1;
}

.product-info__description {
    color: var(--color-body);
    font-family: var(--font-main);
    font-size: 1.2rem;
    width: 207px;
}

.product-info__divider {
    width: 213px;
    border: 1px solid #313131;
    margin-top: 24px;
    margin-bottom: 17px;
}

.product-page {
    margin-top: 96px;
}

.product-page__full {
    display: flex;
}

.product-thumbnails {
    padding: 0;
    margin: 0;
    width: 144px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 36px;
}

.thumbnail {
    width: 36px;
    height: 28px;
}

.thumbnail-image {
    width: 36px;
    height: 28px;
}

@media (min-width: 834px) {
    .guarantee-description {
        width: 564px;
        font-size: 1.1rem;
        line-height: 1.2rem;
        margin: 137px 0 169px 135px;
    }
    
    .product-guarantee {
        margin: 0;
    }
    .product-choices {
        margin-left: 65px;
    }
    
    .product-name {
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 300;
        margin-bottom: 0;
    }
    
    .product-price {
        font-size: 1.1rem;
        line-height: 1.2rem;
        margin-bottom: 55px;
    }
    
    .product-page {
        margin-top: 72px;
    }
    
    .product-page__header {
        height: auto;
    }
    
    .product-main__image {
        width: 456px;
        height: auto;
        margin-bottom: 10px;
    }
    
    .product-thumbnails {
        margin-left: 94px;
        width: 288px;
    }
    
    .product-info__description {
        width: 420px;
        font-size: 1.1rem;
        line-height: 1.2rem; 
    }
    
    .product-info {
        margin-left: 72px;
        width: 456px;
    }
    
    .product-info__divider {
        width: 456px;
        margin-left: 0;
        margin-top: 44px;
    }
    
    .thumbnail {
        width: 72px;
        height: 48px;
}

    .thumbnail-image {
        width: 72px;
        height: 48px;
    }
}

@media (min-width: 1200px) {
    .guarantee-description {
        width: 700px;
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin: 127px 0 234px 250px;
    }
    
    .product-guarantee {
        margin: 0;
    }
    .product-choices {
        margin-left: 186px;
    }
    
    .product-name {
        font-size: 2.8rem;
        line-height: 2.5rem;
        font-weight: 300;
        margin-bottom: 0;
    }
    
    .product-price {
        font-size: 1.9rem;
        line-height: 3.6rem;
    }
    
    .product-page {
        margin-top: 194px;
    }
    
    .product-main__image {
        width: 504px;
        height: auto;
        margin-bottom: 24px;
    }
    
    .product-thumbnails {
        margin-left: 108px;
        width: 288px;
    }
    
    .product-info__description {
        width: 447px;
        font-size: var(--size-body);
        line-height: 2.4rem; 
    }
    
    .product-info {
        margin-left: 130px;
    }
    
    .product-info__divider {
        width: 504px;
        margin-left: 0;
    }
    
    .thumbnail {
        width: 72px;
        height: 48px;
}

    .thumbnail-image {
        width: 72px;
        height: 48px;
    }
}