.brand {
    margin-left: 10px;
    margin-top: 31px;
}

.brand-tag {
    display: inline-block;
    width: 188px;
    font-family: var(--font-main);
    font-size: 1rem;
    line-height: 1.2rem;
    align-items: center;
    margin-left: 10px;
    margin-right: 0px;
    color: #FFFFFF;
}

@media (min-width: 834px) {
    .brand {
        font-size: 36px;
        line-height: 35px;
        margin-lefT: 36px;
    }
    
    .brand-tag {
        font-size: 14px;
        line-height: 24px;
        width: 250px;
        margin-left: 36px;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .brand {
        margin-left: 48px;
    }
    
    .brand-tag {
        margin-left: 48px;
        font-size: 1.9rem;
        line-height: 2.4rem;
        width: 360px;
    }
}

