.contact-description {
    color: $color-body;
    font-family: $font-main;
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    width: 340px;
}

.contact-facebook {
    width: 72px;
    height: 29px;
    background: #3B5998;
    font-family: $font-main;
    font-weight: 600;
    font-size: $size-body;
    color: #FFFFFF;
    border: none;
    margin-bottom: 196px;
}

.contact-heading {
    margin-top: 19px;
    display: inline-block;
    color: $color-secondary;
}

.form-input {
    width: 341px;
    background-color: black;
    border: none;
    margin-bottom: 24px;
    color: #FFFFFF;
    font-family: $font-main;
    font-size: 1.2rem;
    padding: 2px 0 2px 10px;
    outline: none;
}

.form-submit {
    width: 89px;
    height: 36px;
    background: #4F4F4F;
    border: none;
    color: $color-hyperlink;
    font-family: $font-main;
    font-size: 1.9rem;
    margin-bottom: 61px;
}

@media (min-width: 834px) {
    .contact-description {
        font-size: 11px;
        line-height: 12px;
        width: 309px;
        margin-bottom: 0;
    }
    
    .contact-facebook {
        margin-top: 7px;
        width: 84px;
        height: 36px;
    }
    
    .contact-forms {
        display: flex;
        flex-flow: row wrap;
        margin-left: 111px;
    }
    
    .contact-form {
        width: 316px;
    }
    
    .contact-heading {
        font-size: 1.1rem;
        line-height: 1.2rem;
        margin-bottom: 19px;
    }
    
    .form-input {
        width: 316px;
        height: 33px;
        font-size: 1.1rem;
        line-height: 1.2rem;
    }
    
    .form-submit {
        display: block;
        font-size: $size-body;
        line-height: 2.4rem;
    }
    
    .contact-type {
        margin-right: 34px;
    }
}

@media (min-width: 1200px) {
    .contact-description {
        font-size: 1.4rem;
        line-height: 2.4rem;
        width: 445px;
        margin-bottom: 0;
    }
    
    .contact-facebook {
        margin-top: 18px;
    }
    
    .contact-forms {
        display: flex;
        flex-flow: row wrap;
        margin-left: 144px;
    }
    
    .contact-form {
        width: 446px;
    }
    
    .contact-heading {
        font-size: 1.9rem;
        line-height: 3.6rem;
        margin-bottom: 2px;
    }
    
    .form-input {
        width: 436px;
        height: 48px;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    
    .form-submit {
        display: block;
        font-size: $size-body;
        line-height: 2.4rem;
    }
    
    .contact-type {
        margin-right: 34px;
    }
}