.choices-list {
    padding: 0;
    margin-left: 12px;
}

.item-list {
    width: 96px;
    overflow: hidden;
}

.list-content {
    background-color: var(--color-body);
    color: var(--color-extra);
    font-size: 1.2rem;
    width: 117px;
    height: 30px;
}

.list-header {
    font-family: var(--font-main);
    font-size: var(--size-body);
    color: var(--color-body);
    line-height: 1.2rem;
    margin: 31px 0 11px 0;
}

.order {
    display: flex;
    margin-top: 69px;
    margin-left: 12px;
}

.order-submit {
    background-color: var(--color-primary);
    color: black;
    font-family: var(--font-main);
    font-size: 1.2rem;
    padding: 0;
    margin-top: 21px;
    margin-left: 12px;
    width: 96px;
    height: 24px;
    border: none;
    border-radius: 2px;
}

.order-submit:hover {
    background-color: var(--color-secondary);
}

.order-title {
    font-family: var(--font-main);
    font-size: var(--size-body);
    color: var(--color-body);
    margin-top: 7px;
    margin-right: 19px;
}

.order-quantity {
    background-color: var(--color-extra);
    color: black;
    font-family: var(--font-main);
    text-align: center;
    width: 48px;
    height: 30px;
    border-radius: 2px;
    border: none;
    padding: 0;
}

@media (min-width: 834px) {
    .item-list {
        overflow: visible;
    }
    
    .list-content {
        width: 120px;
        height: 24px;
        
    }
    .list-header {
        font-size: 1.1rem;
        line-height: 1.2rem;
    }
    
    .order {
        margin-top: 75px;
    }
    
    .order-submit {
        width: 120px;
        height: 36px;
        border-radius: 4px;
    }
    
    .order-quantity {
        width: 72px;
    }
}

@media (min-width: 1200px) {
    .item-list {
        width: 144px;
        height: 48px;
    }
    
    .list-header {
        font-size: var(--size-body);
        line-height: 2.4rem;
        width: 144px;
    }
    
    .list-content {
        width: 144px;
        height: 48px;
    }
    
    .order-submit {
        width: 182px;
        height: 52px;
    }
    
    .order-quantity {
        width: 100px;
        height: 42px;
        margin-left: 29px;
    }
    

}