.insider {
    height: 108px;
    background: #2E2E2E;
}

.insider-email {
    background-color: var(--color-primary);
    font-family: var(--font-main);
    width: 200px;
    height: 24px;
    border: none;
    padding: 0 0 0 10px;
    color: rgba(18, 18, 18, 0.67);
    margin-right: 18px;
    margin-left: 36px;
}

.insider-form {
}

.insider-heading {
    color: var(--color-body);
    display: inline-block;
    width: 207px;
    margin-left: 103px;
    margin-top: 11px;
    margin-bottom: 13px;
}

.insider-submit {
    width: 106px;
    height: 24px;
    border: none;
    padding: 0;
    background-color: var(--color-primary);
    font-family: var(--font-main);
    color: black;
    margin-right: 36px;
}

@media (min-width: 834px) {
    .insider {
        height: 134px;
    }
    
    .insider-heading {
        font-size: 2rem;
        line-height: 1.7rem;
        width: 834px;
        text-align: center;
        margin-top: 18px;
        margin-bottom: 31px;
        margin-left: 0;
    }
    
    .insider-email {
        margin-left: 257px;
        margin-right: 17px;
        width: 193px;
        height: 33px;
    }
    
    .insider-submit {
        width: 109px;
        height: 33px;
    }
}

@media (min-width: 1200px) {
    .insider {
        height: 193px;
    }
    
    .insider-email {
        width: 278px;
        height: 48px;
        margin-left: 370px;
    }
    
    .insider-heading {
        font-size: 2.8rem;
        line-height: 2.5rem;
        width: auto;
        margin-top: 27px;
        margin-left: 448px;
        margin-bottom: 45px;
    }
    
    .insider-submit {
        width: 158px;
        height: 48px;
    }
}