@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,600|Montserrat:300,300i,400,400i,600&display=swap");
/* Basic styles */
:root {
  --color-body: #898F94;
  --color-primary: #FFDB4D;
  --color-secondary: #FFF1B8;
  --color-hyperlink: #FFCC00;
  --color-extra: #DAE1E7;
  --color-background: linear-gradient(0deg, rgba(26,26,26,1) 80%, rgba(0,0,0,1) 100%);
  --font-main: 'Montserrat', sans-serif;
  --font-extra: 'Baloo Paaji 2', cursive;
  --size-body: 1.4rem; }

body {
  margin: 0 auto;
  width: 414px; }

footer {
  margin-top: 0px; }

header {
  background-color: black;
  width: 414px; }

html {
  margin: 0 auto;
  padding: 0;
  background: var(--color-background); }

option:checked {
  background-color: var(--color-secondary);
  color: #000000; }

textarea {
  height: 96px; }

textarea:focus::placeholder {
  color: transparent; }

ul {
  list-style-type: none; }

nav ul {
  margin: 0;
  padding: 0; }

@media (min-width: 834px) {
  body {
    width: 834px; }
  html {
    width: 100%; }
  textarea {
    width: 316px;
    height: 112px !important; } }

@media (min-width: 1200px) {
  body {
    width: 1200px; }
  html {
    width: 100%; }
  header {
    width: 1200px; }
  textarea {
    height: 161px !important; } }

a {
  text-decoration: none;
  outline: none;
  line-height: 2.4px; }

body {
  font-family: var(--font-body);
  font-size: var(--size-body);
  line-height: 1.8rem; }

h1 {
  color: var(--color-primary);
  font-family: var(--font-main);
  font-weight: normal;
  font-size: 6.4rem;
  line-height: 5rem;
  margin: 0; }

h2 {
  color: var(--color-primary);
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 2.5rem; }

h3 {
  color: var(--color-primary);
  font-family: var(--font-main);
  font-weight: normal;
  font-size: 1.9rem;
  line-height: 3.6rem; }

hr {
  width: 206px;
  margin-top: 79px;
  margin-bottom: 185px; }

html {
  font-size: 10px; }

p {
  font-size: var(--size-body); }

/* Generic block styles */
.choices-list {
  padding: 0;
  margin-left: 12px; }

.item-list {
  width: 96px;
  overflow: hidden; }

.list-content {
  background-color: var(--color-body);
  color: var(--color-extra);
  font-size: 1.2rem;
  width: 117px;
  height: 30px; }

.list-header {
  font-family: var(--font-main);
  font-size: var(--size-body);
  color: var(--color-body);
  line-height: 1.2rem;
  margin: 31px 0 11px 0; }

.order {
  display: flex;
  margin-top: 69px;
  margin-left: 12px; }

.order-submit {
  background-color: var(--color-primary);
  color: black;
  font-family: var(--font-main);
  font-size: 1.2rem;
  padding: 0;
  margin-top: 21px;
  margin-left: 12px;
  width: 96px;
  height: 24px;
  border: none;
  border-radius: 2px; }

.order-submit:hover {
  background-color: var(--color-secondary); }

.order-title {
  font-family: var(--font-main);
  font-size: var(--size-body);
  color: var(--color-body);
  margin-top: 7px;
  margin-right: 19px; }

.order-quantity {
  background-color: var(--color-extra);
  color: black;
  font-family: var(--font-main);
  text-align: center;
  width: 48px;
  height: 30px;
  border-radius: 2px;
  border: none;
  padding: 0; }

@media (min-width: 834px) {
  .item-list {
    overflow: visible; }
  .list-content {
    width: 120px;
    height: 24px; }
  .list-header {
    font-size: 1.1rem;
    line-height: 1.2rem; }
  .order {
    margin-top: 75px; }
  .order-submit {
    width: 120px;
    height: 36px;
    border-radius: 4px; }
  .order-quantity {
    width: 72px; } }

@media (min-width: 1200px) {
  .item-list {
    width: 144px;
    height: 48px; }
  .list-header {
    font-size: var(--size-body);
    line-height: 2.4rem;
    width: 144px; }
  .list-content {
    width: 144px;
    height: 48px; }
  .order-submit {
    width: 182px;
    height: 52px; }
  .order-quantity {
    width: 100px;
    height: 42px;
    margin-left: 29px; } }

.dropdown-button {
  background-color: transparent;
  color: var(--color-secondary);
  font-size: 16px;
  border: none;
  padding: 0;
  border-radius: 5px 5px 0px 0px; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-extra);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  right: 0;
  border-radius: 5px 0 5px 5px; }

.dropdown-item {
  height: 15px;
  line-height: 1.5rem;
  font-family: var(--font-main);
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px 5px 5px 5px; }

.dropdown-content a:hover {
  background-color: var(--color-secondary); }

.item-dropdown {
  position: relative;
  display: inline-block; }

.item-dropdown:hover .dropdown-content {
  display: block; }

.item-dropdown:hover .dropdown-button {
  background-color: var(--color-secondary);
  color: black; }

.nav-item {
  line-height: 2.4rem; }

.nav-item__link {
  color: var(--color-secondary);
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3.6rem; }

.nav-item__link:hover {
  text-shadow: 1px 1px 4px white, 0 0 5px var(--color-hyperlink); }

.nav-item--active {
  border-bottom: 0.5px solid var(--color-secondary); }

.nav-main {
  display: inline-block;
  align-items: center;
  text-align: right;
  margin-left: 97px;
  margin-right: 11px;
  width: 107px;
  height: 132px;
  float: right; }

@media (min-width: 834px) {
  .nav-main {
    position: absolute;
    left: 432px;
    top: 45px;
    width: 366px;
    height: 34px;
    margin-left: 0; }
  .nav-main__page-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .nav-item {
    margin-right: 23px; }
  .nav-item__link {
    font-size: 14px;
    line-height: 24px; } }

@media (min-width: 1200px) {
  .dropdown-item {
    font-size: 1.4rem; }
  .nav-item {
    margin-right: 33px; }
  .nav-item__link {
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 2.5rem; }
  .nav-main {
    position: absolute;
    top: 49px;
    left: 624px;
    width: 526px;
    margin: 0; }
  .nav-main__product {
    left: 784px; }
  .nav-main__page-list {
    display: flex; } }

.brand {
  margin-left: 10px;
  margin-top: 31px; }

.brand-tag {
  display: inline-block;
  width: 188px;
  font-family: var(--font-main);
  font-size: 1rem;
  line-height: 1.2rem;
  align-items: center;
  margin-left: 10px;
  margin-right: 0px;
  color: #FFFFFF; }

@media (min-width: 834px) {
  .brand {
    font-size: 36px;
    line-height: 35px;
    margin-lefT: 36px; }
  .brand-tag {
    font-size: 14px;
    line-height: 24px;
    width: 250px;
    margin-left: 36px;
    margin-top: 0; } }

@media (min-width: 1200px) {
  .brand {
    margin-left: 48px; }
  .brand-tag {
    margin-left: 48px;
    font-size: 1.9rem;
    line-height: 2.4rem;
    width: 360px; } }

.contact-description {
  color: var(--color-body);
  font-family: var(--font-main);
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
  width: 340px; }

.contact-facebook {
  width: 72px;
  height: 29px;
  background: #3B5998;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: var(--size-body);
  color: #FFFFFF;
  border: none;
  margin-bottom: 196px; }

.contact-heading {
  margin-top: 19px;
  display: inline-block;
  color: var(--color-secondary); }

.form-input {
  width: 341px;
  background-color: black;
  border: none;
  margin-bottom: 24px;
  color: #FFFFFF;
  font-family: var(--font-main);
  font-size: 1.2rem;
  padding: 2px 0 2px 10px;
  outline: none; }

.form-submit {
  width: 89px;
  height: 36px;
  background: #4F4F4F;
  border: none;
  color: var(--color-hyperlink);
  font-family: var(--font-main);
  font-size: 1.9rem;
  margin-bottom: 61px; }

@media (min-width: 834px) {
  .contact-description {
    font-size: 11px;
    line-height: 12px;
    width: 309px;
    margin-bottom: 0; }
  .contact-facebook {
    margin-top: 7px;
    width: 84px;
    height: 36px; }
  .contact-forms {
    display: flex;
    flex-flow: row wrap;
    margin-left: 111px; }
  .contact-form {
    width: 316px; }
  .contact-heading {
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin-bottom: 19px; }
  .form-input {
    width: 316px;
    height: 33px;
    font-size: 1.1rem;
    line-height: 1.2rem; }
  .form-submit {
    display: block;
    font-size: var(--size-body);
    line-height: 2.4rem; }
  .contact-type {
    margin-right: 34px; } }

@media (min-width: 1200px) {
  .contact-description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 445px;
    margin-bottom: 0; }
  .contact-facebook {
    margin-top: 18px; }
  .contact-forms {
    display: flex;
    flex-flow: row wrap;
    margin-left: 144px; }
  .contact-form {
    width: 446px; }
  .contact-heading {
    font-size: 1.9rem;
    line-height: 3.6rem;
    margin-bottom: 2px; }
  .form-input {
    width: 436px;
    height: 48px;
    font-size: 1.4rem;
    line-height: 2.4rem; }
  .form-submit {
    display: block;
    font-size: var(--size-body);
    line-height: 2.4rem; }
  .contact-type {
    margin-right: 34px; } }

.insider {
  height: 108px;
  background: #2E2E2E; }

.insider-email {
  background-color: var(--color-primary);
  font-family: var(--font-main);
  width: 200px;
  height: 24px;
  border: none;
  padding: 0 0 0 10px;
  color: rgba(18, 18, 18, 0.67);
  margin-right: 18px;
  margin-left: 36px; }

.insider-heading {
  color: var(--color-body);
  display: inline-block;
  width: 207px;
  margin-left: 103px;
  margin-top: 11px;
  margin-bottom: 13px; }

.insider-submit {
  width: 106px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: var(--color-primary);
  font-family: var(--font-main);
  color: black;
  margin-right: 36px; }

@media (min-width: 834px) {
  .insider {
    height: 134px; }
  .insider-heading {
    font-size: 2rem;
    line-height: 1.7rem;
    width: 834px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 31px;
    margin-left: 0; }
  .insider-email {
    margin-left: 257px;
    margin-right: 17px;
    width: 193px;
    height: 33px; }
  .insider-submit {
    width: 109px;
    height: 33px; } }

@media (min-width: 1200px) {
  .insider {
    height: 193px; }
  .insider-email {
    width: 278px;
    height: 48px;
    margin-left: 370px; }
  .insider-heading {
    font-size: 2.8rem;
    line-height: 2.5rem;
    width: auto;
    margin-top: 27px;
    margin-left: 448px;
    margin-bottom: 45px; }
  .insider-submit {
    width: 158px;
    height: 48px; } }

.footer {
  height: 120px;
  background-color: black; }

.footer-text {
  display: inline-block;
  margin-left: 29px;
  margin-top: 38px;
  font-family: var(--font-main);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  text-align: center;
  width: 355px; }

@media (min-width: 834px) {
  .footer {
    height: 100px; }
  .footer-text {
    font-size: 1rem;
    line-height: 1.7rem;
    width: 834px; } }

@media (min-width: 1200px) {
  .footer {
    height: 143px; }
  .footer-text {
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 1200px; } }

/* Page-specific styles */
.featured-list {
  padding: 0;
  margin-top: 0;
  width: 100%; }

.featured-list__item-image {
  width: 100%;
  margin: auto; }

.featured-list__item-name {
  color: var(--color-secondary);
  font-family: var(--font-main);
  font-size: 2.8rem;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 0; }

.featured-list__item-price {
  color: var(--color-body);
  font-family: var(--font-main);
  font-size: var(--size-body);
  line-height: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px; }

.highlights-list {
  padding: 0;
  margin-top: 0;
  width: 100%; }

.highlights-list__item {
  width: 414px;
  text-align: center; }

.highlights-list__item-title {
  color: var(--color-extra);
  font-family: var(--font-main);
  font-size: var(--size-body);
  margin-top: 0;
  margin-bottom: 10px; }

.highlights-list__item-description {
  color: var(--color-body);
  font-family: var(--font-main);
  font-size: var(--size-body);
  line-height: 1.6rem;
  width: 312px;
  margin-left: 51px;
  margin-bottom: 30px; }

.home-page__contact {
  margin-top: 85px;
  margin-right: auto;
  margin-left: auto;
  width: 340px; }

.home-page__featured {
  margin-top: 98px; }

.home-page__highlights {
  margin-top: 60px; }

.news-description {
  width: 377px;
  color: var(--color-body);
  font-family: var(--font-main);
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: flex;
  margin: auto;
  align-items: center;
  text-align: center;
  margin-top: 17px; }

.news-heading {
  width: 414px;
  margin-top: 15px;
  color: var(--color-secondary);
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center; }

.news-image {
  width: 414px;
  height: auto; }

.product-name {
  font-family: var(--font-main);
  color: var(--color-secondary);
  font-size: 1.9rem;
  line-height: 2.3rem;
  margin: 0 0 14px 12px; }

.product-price {
  font-family: var(--font-main);
  color: var(--color-extra);
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-left: 12px; }

.section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 28px; }

@media (min-width: 834px) {
  .featured-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: 82px;
    justify-content: space-between;
    width: 676px; }
  .featured-list__item-image {
    width: 325px;
    height: 223px;
    margin-left: 0; }
  .featured-list__item-link {
    margin-bottom: 72px; }
  .featured-list__item-name {
    font-size: 1.1rem;
    line-height: 1.2rem;
    width: 90px;
    margin-top: 20px;
    margin-bottom: 12px;
    text-align: left; }
  .featured-list__item-price {
    font-size: 1.1rem;
    line-height: 1.2rem;
    width: 90px;
    margin-bottom: 48px;
    text-align: left; }
  .home-page {
    margin-top: 1020px; }
  .highlights-list {
    display: flex;
    flex-flow: row wrap;
    width: 653px;
    margin: 0 0 0 92px;
    justify-content: space-between; }
  .highlights-list__item {
    width: 152px; }
  .highlights-list__item-description {
    width: 152px;
    margin-left: 0;
    margin-bottom: 59px;
    font-size: 1.1rem;
    line-height: 1.2rem; }
  .highlights-list__item-title {
    font-size: 1.1rem;
    line-height: 1.2rem; }
  .highlights-list__item-image {
    width: 104px; }
  .home-page__contact {
    width: 834px; }
  .news-image {
    width: 834px;
    height: auto; }
  .news-heading {
    width: auto;
    font-size: var(--size-body);
    line-height: 2.4rem;
    margin-left: 250px;
    margin-top: 31px; }
  .news-description {
    width: 633px;
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin-top: 6px; }
  .section-title {
    margin-top: 89px;
    margin-bottom: 61px;
    font-size: var(--size-main);
    line-height: 2.4rem; } }

@media (min-width: 1200px) {
  .featured-list {
    margin-bottom: 0; }
  .featured-list__item-details {
    display: flex;
    flex-flow: row wrap;
    width: 90px;
    height: 48px; }
  .featured-list__item-image {
    width: 460px;
    height: auto;
    margin-left: 0;
    margin-right: 20px; }
  .featured-list__item-link {
    display: flex;
    margin-left: 250px;
    margin-bottom: 72px; }
  .featured-list__item-name {
    font-size: 1.9rem;
    line-height: 3.6rem;
    height: 36px; }
  .featured-list__item-price {
    font-size: 1.9rem;
    line-height: 3.6rem;
    height: 36px; }
  .highlights-list {
    display: flex;
    flex-flow: row wrap;
    width: 940px;
    margin: 0 0 0 140px;
    justify-content: space-between; }
  .highlights-list__item {
    width: 220px; }
  .highlights-list__item-description {
    width: 220px;
    margin-left: 0;
    margin-bottom: 59px;
    font-size: 1.4rem;
    line-height: 2.4rem; }
  .highlights-list__item-title {
    font-size: 1.4rem;
    line-height: 2.4rem; }
  .highlights-list__item-image {
    width: 150px; }
  .home-page__contact {
    margin-top: 102px;
    width: 1200px; }
  .home-page__highlights {
    margin-top: 194px; }
  .home-page {
    margin-top: 1512px; }
  .home-page__featured {
    font-size: 2.8rem;
    line-height: 2.5rem;
    margin-top: 181px; }
  .news-description {
    font-size: 1.9rem;
    line-height: 3.6rem;
    margin-top: 21px;
    width: 912px; }
  .news-heading {
    width: auto;
    font-size: 2.8rem;
    line-height: 2.5rem;
    margin-left: 272px;
    margin-top: 37px; }
  .news-image {
    width: 1200px; }
  .section-title {
    margin-bottom: 94px; } }

.guarantee-description {
  font-family: var(--font-main);
  color: var(--color-body);
  font-style: italic;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 0; }

.product-choices {
  flex: 1; }

.product-guarantee {
  align-items: center;
  margin: 83px 0 128px 54px;
  width: 306px; }

.product-main__image {
  width: 216px;
  height: 216px;
  object-fit: cover; }

.product-info {
  width: 216px;
  margin-left: 12px;
  flex: 1; }

.product-info__description {
  color: var(--color-body);
  font-family: var(--font-main);
  font-size: 1.2rem;
  width: 207px; }

.product-info__divider {
  width: 213px;
  border: 1px solid #313131;
  margin-top: 24px;
  margin-bottom: 17px; }

.product-page {
  margin-top: 96px; }

.product-page__full {
  display: flex; }

.product-thumbnails {
  padding: 0;
  margin: 0;
  width: 144px;
  display: flex;
  flex-flow: row wrap;
  margin-left: 36px; }

.thumbnail {
  width: 36px;
  height: 28px; }

.thumbnail-image {
  width: 36px;
  height: 28px; }

@media (min-width: 834px) {
  .guarantee-description {
    width: 564px;
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin: 137px 0 169px 135px; }
  .product-guarantee {
    margin: 0; }
  .product-choices {
    margin-left: 65px; }
  .product-name {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 300;
    margin-bottom: 0; }
  .product-price {
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin-bottom: 55px; }
  .product-page {
    margin-top: 72px; }
  .product-page__header {
    height: auto; }
  .product-main__image {
    width: 456px;
    height: auto;
    margin-bottom: 10px; }
  .product-thumbnails {
    margin-left: 94px;
    width: 288px; }
  .product-info__description {
    width: 420px;
    font-size: 1.1rem;
    line-height: 1.2rem; }
  .product-info {
    margin-left: 72px;
    width: 456px; }
  .product-info__divider {
    width: 456px;
    margin-left: 0;
    margin-top: 44px; }
  .thumbnail {
    width: 72px;
    height: 48px; }
  .thumbnail-image {
    width: 72px;
    height: 48px; } }

@media (min-width: 1200px) {
  .guarantee-description {
    width: 700px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 127px 0 234px 250px; }
  .product-guarantee {
    margin: 0; }
  .product-choices {
    margin-left: 186px; }
  .product-name {
    font-size: 2.8rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin-bottom: 0; }
  .product-price {
    font-size: 1.9rem;
    line-height: 3.6rem; }
  .product-page {
    margin-top: 194px; }
  .product-main__image {
    width: 504px;
    height: auto;
    margin-bottom: 24px; }
  .product-thumbnails {
    margin-left: 108px;
    width: 288px; }
  .product-info__description {
    width: 447px;
    font-size: var(--size-body);
    line-height: 2.4rem; }
  .product-info {
    margin-left: 130px; }
  .product-info__divider {
    width: 504px;
    margin-left: 0; }
  .thumbnail {
    width: 72px;
    height: 48px; }
  .thumbnail-image {
    width: 72px;
    height: 48px; } }

.category-page__list {
  padding: 0;
  margin: 0 0 189px 0; }

.category-page__main-description {
  font-family: var(--font-main);
  color: var(--color-body);
  font-size: 1.2rem;
  line-height: 1.6rem;
  width: 342px;
  margin: 25px 0 73px 36px; }

.category-page__main-title {
  margin: 0;
  font-family: var(--font-main);
  background: linear-gradient(0deg, rgba(26, 26, 26, 0) 0%, black 64%);
  font-size: 2.8rem;
  line-height: 2.5rem;
  align-items: center;
  text-align: center; }

.list-header__description {
  font-family: var(--font-main);
  color: var(--color-body);
  margin: 0 0 32px 36px;
  font-size: 1.2rem;
  line-height: 1.6rem; }

.list-header__title {
  font-family: var(--font-main);
  color: var(--color-extra);
  margin-left: 36px;
  margin-bottom: 1px;
  font-size: 1.9rem;
  line-height: 3.6rem; }

.list-product__image {
  width: 343px;
  height: 235px;
  margin-left: 35px; }

.list-product__title {
  font-family: var(--font-main);
  color: var(--color-secondary);
  margin: 5px 0 2px 0;
  text-align: center;
  font-size: 2.8rem;
  line-height: 2.5rem; }

.list-product__price {
  font-family: var(--font-main);
  color: var(--color-body);
  font-size: var(--size-body);
  line-height: 3rem;
  text-align: center;
  margin: 0 0 14px 0; }

@media (min-width: 834px) {
  .category-page {
    margin-top: 162px; }
  .category-page__main-title {
    font-size: 14px;
    line-height: 24px; }
  .category-page__main-description {
    font-size: 11px;
    line-height: 12px;
    width: 456px;
    margin-left: 189px; }
  .category-page__list {
    display: flex;
    flex-flow: row wrap;
    margin-left: 82px;
    justify-content: space-between;
    width: 676px; }
  .list-header__title {
    margin-left: 179px;
    font-size: 14px;
    line-height: 24px; }
  .list-header__description {
    width: 477px;
    font-size: 11px;
    line-height: 12px;
    margin-left: 178px;
    margin-bottom: 61px; }
  .list-product__image {
    width: 325px;
    height: 223px;
    margin-left: 0; }
  .list-product__price {
    font-size: 1.1rem;
    line-height: 1.2rem;
    width: 90px;
    margin-bottom: 48px;
    text-align: left; }
  .list-product__title {
    font-size: 1.1rem;
    line-height: 1.2rem;
    width: 90px;
    margin-top: 20px;
    margin-bottom: 12px;
    text-align: left; } }

@media (min-width: 1200px) {
  .category-page {
    margin-top: 274px; }
  .category-page__main-description {
    width: 700px;
    font-size: var(--size-body);
    line-height: 2.4rem;
    margin-top: 16px;
    margin-left: 249px;
    margin-bottom: 121px; }
  .category-page__list {
    display: flex;
    flex-flow: row wrap;
    margin-left: 109px;
    justify-content: space-between;
    width: 983px; }
  .list-header__description {
    width: 699px;
    margin-left: 250px;
    margin-bottom: 75px; }
  .list-header__title {
    margin-left: 250px; }
  .list-product__image {
    width: 469px;
    height: auto;
    margin-left: 0; }
  .list-product__price {
    font-size: 1.9rem;
    line-height: 2.4rem;
    width: 90px;
    margin-bottom: 61px;
    text-align: left; }
  .list-product__title {
    font-size: 1.9rem;
    line-height: 2.4rem;
    width: 90px;
    text-align: left; } }

/*# sourceMappingURL=styles.css.map */
