a {
  text-decoration: none;
  outline: none;
    line-height: 2.4px;
}

body {
  font-family: $font-main;
  font-size: $size-body;
  line-height: 1.8rem;  
}

h1 {
    color: $color-primary;
    font-family: $font-main;
    font-weight: normal;
    font-size: 6.4rem;
    line-height: 5rem;
    margin: 0;
}

h2 {
    color: $color-primary;
    font-family: $font-main;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 2.5rem;
}

h3 {
    color: $color-primary;
    font-family: $font-main;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 3.6rem;
}

hr {
    width: 206px;
    margin-top: 79px;
    margin-bottom: 185px;
}

html {
  font-size: 10px;
}

p {
  font-size: $size-body;
}